<% layout("/layout/boilerplate") -%>

<div class="row">
    <div class="col-8 offset-3">

        <h3 class="col-8 offset-3 mt-3" > Login </h3>

        <form action="/login" method="POST" novalidate class="needs-validation">
            <div class="mb-3"> <!-- margin bottom 3 for spacing bootstrap styling-->
                
                <label for="username" class="form-label">Username</label>
                <input type="text", 
                name="username", 
                placeholder="Enter username", 
                class="form-control", 
                required> 

                <!--required keyword triggers mandatory field entry-->
                 <!--listing[]to get a key value pair -->
                 
            </div>
            
            <div class="mb-3"> <!-- margin bottom 3 for spacing bootstrap styling-->
                
                <label for="password" class="form-label">Password</label>
                <input type="password", 
                name="password", 
                placeholder="Enter Password", 
                class="form-control", 
                required> 
                
            </div>



            <button class="btn btn-dark"> Login </button>

        </form>
    
    
    
    
    
    </div>
</div>